# IDE
.idea/
.vscode/
*.iml

# Java
target/
*.class
*.jar
*.war

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Docker
mysql-data/
redis-data/

# Logs
*.log
logs/
*.docx
